body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all ease 0.4s;
}

a:hover {
    color: #5fa3fc;
}

.carrousel {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    gap: 1rem;
}

.img-content {
    width: 100px;
    height: 90vh;
    border-radius: 30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all ease 1s;
}

.img-content:hover {
    opacity: 0.8;
}

.retro-car-auto-1 {
    background: url('./src/assets/retro_car_transportation_auto_1.jpg');
}

.retro-car-auto-2 {
    background: url('./src/assets/retro_car_transportation_auto_2.jpg');
}

.retro-car-auto-3 {
    background: url('./src/assets/retro_car_transportation_auto_3.jpg');
}

.retro-car-auto-4 {
    background: url('./src/assets/retro_car_transportation_auto_4.jpg');
}

.retro-car-auto-5 {
    background: url('./src/assets/retro_car_transportation_auto_5.jpg');
}

.retro-car-auto-6 {
    background: url('./src/assets/retro_car_transportation_auto_6.jpg');
}

.active {
    width: 1200px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
